body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.slider-container {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.slides {
    display: flex;
    width: auto;
    height: 100%;
    transition: transform 0.1s ease-in-out;
}
.slide {
    min-width: 100%;
    height: auto;
}
.slide img {
    width:100% ;
    height: 100%;
    object-fit: cover;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.nav-button:hover {
    background: rgba(10, 10, 10, 0.8);
}